/*!
 * For public access page
 */

/* All use border-box box-sizing */
* {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}

/* Disable certain interactions on touch devices */
html,body {-webkit-touch-callout: none;-webkit-highlight: none;-ms-touch-action: none;overflow: hidden;}
a, input, button {-ms-touch-action: none !important;}

#rtWrap {width: 100%;height: 100%;margin: 0 auto;position: relative;background: #fff;overflow: hidden;position: relative;}

.swiper-wrapper {width: 100%;height: 100%;overflow: hidden;}
.page-item {background:#ed3e4b;width: 100%;height:100%;}
.page-nav{
	position: absolute;
	bottom: 13%;
	right: 10%;
	width: 1%;
	z-index: 9999;
}
.page-nav .nav-item {
	list-style: none;
	width: 16px;
	height: 16px;
	display: block;
	background-color: #fff;
	border-radius: 50%;
	behavior: url(./PIE.htc);
	margin-bottom: 16px;
}
.page-nav .nav-item-back {
	margin-left: -12px;
	list-style: none;
}
.page-nav .nav-item a {
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	behavior: url(./PIE.htc);
	background: #fff;
}
.page-nav .nav-item a.active {border: 2px solid #fff;background: #ed3e4b;}
.page-nav .nav-item-back a{display: block;background: url(../img/pub/back.png) no-repeat scroll 0 0;width:40px;height:40px;}
.page-nav .nav-item-back a:hover{background-position:0 -40px;}

.page-item .r{text-align:center;}
.page-item .r1{padding-top:15%;}
.page-item .r2{margin-top:30px;margin-top:3rem;}
.page-item .r1 img{max-width:300px;}
.page-item .r2 img{max-width:254px;}

#page-1 .r1 img{max-width:159px;}
#page-1 .r2 img{max-width:300px;}

#page-6 .r1{padding-top:5%;}
#page-6 .r1 img{max-width:auto;max-height:380px;}
#page-6 .r2{margin-top:0;}

#page-7 .r1{padding-top:30%;}
#page-7 .r2{margin-top:80px;margin-top:8rem;}
#page-7 a.send{display:block;background:url(../img/pub/p7_2.png) no-repeat;background-size:203px auto;width:203px;height:59px;line-height:59px;margin:0 auto;text-align:center;color:#fff;font-size:20px;font-size:2rem;}

/* 16:9 display */
@media only screen and (min-device-height: 568px) {

.page-item .r1{padding-top:25%;}
#page-6 .r1{padding-top:10%;}
#page-6 .r1 img{max-height:420px;}
#page-7 .r1{padding-top:50%;}
	
}

/* PC css hack */
@media only screen and (min-width: 1025px) {

.page-nav{bottom: 29.26%;right: 6.25%;}

.page-item .r1{padding-top:10%;}
#page-1 .r1 img{max-width:319px;}
#page-1 .r2 img{max-width:600px;}

#page-7 .r1{padding-top:15%;}

}